.error-msg {
  margin: 10px auto 5px;
  height: 70px;
  width: 450px;
  line-height: 70px;
  text-align: center;
  font-size: 14px;
  background: #f1efc5;
  border: solid 1px rgb(216, 215, 203);
  border-radius: 5px;
}