.contents {
  width: 100%; 
  height: calc(100vh - 70px); 
  margin: 0 300px;
  overflow: scroll;
  padding-top: 10px;
  margin: auto;
}

.content {
  width: 450px;
  background: snow;
  margin: 5px auto;
  box-shadow: 0 0 2px #51575b;
  border: solid 1px #a3acba;
  box-shadow: 0 0 2px #a3acba;
  border-radius: 4px;

  &__top {
    padding: 15px 0 9px 12px;
    display: flex;
    position: relative;

    &__avatar {
      height: 75px;
      width: 75px;
      border-radius: 50%;
      border: solid 1px gray;
      position: relative;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .fa-sort-down {
        font-size: 20px;
      }
    }

    &__user-name {
      line-height: 70px;
      margin-left: 60px;
      font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
      font-weight: bold;
      font-size: 15px;
    }

    i.fa-pencil-alt {
      position: absolute;
      top: 43px;
      left: 350px;
      font-size: 20px;
      cursor: pointer;
    }
    
    i.fa-trash-alt {
      position: absolute;
      top: 43px;
      left: 390px;
      font-size: 20px;
      cursor: pointer;
    }
  }

  &__tweet {
    padding-bottom: 20px;

    &__body {
      width: 390px;
      margin: 0px auto 10px;
      font-size: 18px;
      white-space: pre-wrap;
    }

    &__images {
      margin: 5px 30px 5px;
    }
  }
}
